#gameContainer {
    /*float: left;*/
    z-index: 5;
    position: relative;
    top: 0;
    left: 0;
}
#sidebar {
    float: left;
    max-width: 300px;
    padding: 10px;
}
#changelog {
    display: none;

}
.vex-dialog-message {
    overflow: auto;
    max-height: 400px;
}
.science-text {
    color: #0066FF;
}
body {
    font-family: 'PT Sans Narrow', sans-serif;
}
.vex-dialog-buttons {
    text-align: center;
    clear: both;
}
.vex-dialog-button-right {
    float: right !important;
}
.vex-dialog-button-left {
    float: left !important;
}
.vex-dialog-button-cancel {
    float: none !important;
}
.left-choice {
    float: left;
    width: 50%;
    padding: 0px 10px 20px;
}
.right-choice {
    float: right;
    width: 50%;
    padding: 0px 0px 20px 10px;
}
/*.vex.vex-theme-wireframe {
    text-align:center;
}
.vex.vex-theme-wireframe .vex-content {
    width: auto !important;
    display: inline-block;
}*/

#left_container {
    width:50%;
    float:left;
    margin-right:-400px; /* minus half of the center container width */
    z-index: -5;

}
#center {
    width:800px; /* size of the fixed width */
    float:left;

    /* not important */
    color: #FFF;
    margin-right: 10px;

    height: 610px;
}
#right_container {
    z-index: -5;

}
#right {
    margin-left:800px; /* half of the center container width */
    padding-left: 10px;
    z-index: -5;
}
.progressBar {
    border: 1px black solid;
    margin-top: 5px;
}
.tooltip {
    color: cornflowerblue;
}
.topnav {
    font-size: 2em;
    font-weight: bold;
    height: 1.5em;
}
.topnav .header {
    float: left;
    margin-right: 1.5em;
}
.toplinks button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: 0;
    float: left;
    margin: 0 0 0 0.5em;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.5em;
    line-height: 1em;
    padding: 0.75em 2em;
}

.toplinks button:hover {
    background-color: #999;
}

.progressBar {
    width: 250px;
    height: 1.2em;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.progressBar .bar {
    transition:width 1s;
    height:1.2em;
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
}

.progressBar .bar span.text {
    position: absolute;
    display: block;
    width: 250px;
    height: 100%;
    text-align: center;
}
.bar.positive {
    background-color: #333;
    left: 0;
}
.bar.positive span {
    left: 0;
    color: white;
}
.bar.negative {
    background-color: white;
    right: 0;
}
.bar.negative span {
    right: 0;
    color: black;
}
.mana.bar.positive {
    background-color: #3A79B8;
    left: 0;
}

#save {
    display: none;
}
#credits {
    display: none;
}
.ui-widget {
    font-size: 0.9em !important;
}

.menu {
    margin-top: 5px !important;
}
.ui-menu {
    width: 150px;
}

/*.skills {*/
    /*width: 250px;*/
/*}*/

#skills {
    display: none;
}
#skills_tree {
    float: left;
    width: 45%;
}
#skills_desc {
    float: right;
    height: 50%;
    width: 50%;
    overflow: scroll;
}
#skills_queue {
    float: right;
    height: 50%;
    width: 50%;
    clear: right;
    overflow: scroll;
}

#sortable_queue {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 90%;
}
#sortable_queue li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    position: relative;
}
#sortable_queue li .ui-icon {
    position: absolute;
    margin-left: -1.3em;
}
/* http://stackoverflow.com/questions/24746781/how-do-i-get-a-jstree-node-to-display-long-possibly-multiline-content*/
.jstree-default a {
    white-space:normal !important; height: auto;
}
.jstree-anchor {
    height: auto !important;

}
.jstree-default li > ins {
    vertical-align:top;
}
.jstree-leaf {
    height: auto;
}
.jstree-leaf a{
    height: auto !important;
    padding-left: 25px;
    text-indent: -25px;
}

.remove-queue {
    position: relative !important;
}
.icon-btn {
    position: relative;
    padding: 0px 3px 0px 20px;
}
.icon-btn .keybind {
    position: absolute;
    left: 0;
    color: white;
    border: 2px solid black;
    border-radius: 0 5px 5px 0;
    padding: 2px;
    background-color: purple;
}
.icon-header {
    clear: right;
    margin: 0.5em 0 0.25em 0;
}